<section class="subscriber">
  <div class="subscriber__container">
    <div class="subscriber__block-left">
      <h2 class="subscriber__title">Абонемент</h2>
      <p class="subscriber__text">
        Чим більше занять в абонементі, тим<br />
        дешевша вартість кожного онлайн-уроку <br />і тим лояльніші умови
        заморозки.
      </p>
    </div>
    <div class="subscriber__block-grid">
      <div class="subscriber__block">
        <h3 class="block-grid__title">
          Абонемент на 1<br />
          заняття
        </h3>
        <div class="block-grid__content">
          <span class="content__price">600 грн</span>
          <button class="content__btn">Записатись</button>
        </div>
      </div>

      <div class="subscriber__block">
        <h3 class="block-grid__title">
          Абонемент на 4<br />
          занять
        </h3>
        <div class="block-grid__content">
          <span class="content__price">2200 грн</span>
          <button class="content__btn">Записатись</button>
        </div>
      </div>

      <div class="subscriber__block">
        <h3 class="block-grid__title">
          Абонемент на 8<br />
          занять
        </h3>
        <div class="block-grid__content">
          <span class="content__price">4200 грн</span>
          <button class="content__btn">Записатись</button>
        </div>
      </div>

      <div class="subscriber__block">
        <h3 class="block-grid__title">
          Абонемент на 12<br />
          занять
        </h3>
        <div class="block-grid__content">
          <span class="content__price">6300 грн</span>
          <button class="content__btn">Записатись</button>
        </div>
      </div>
    </div>
  </div>
</section>
