@import "../assets/styles/style.scss";
.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.header {
  @include responsive-property("padding-bottom", 15, 30, 1);
  position: sticky;
}
.main {
  flex: 1 1 auto;
}
.footer {
  background-color: rgba(0, 0, 0, 0.9);
}
